.items {
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
}

.light-theme {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
}